<div>
    <h1>Packliste</h1>

    <h2>Hygieneartikel</h2>
    <ul>
        <li>Zahnbürste + Zahncreme (klein)</li>
        <li>Sonnencreme (klein)</li>
        <li>Kl. Handtuch</li>
        <li>Ggf. Damenhygieneartikel + kleine Mülltüten</li>
        <li>Taschentücher</li>
    </ul>

    <h2>Allgemein</h2>
    <ul>
        <li>Rucksack (evtl. Regencover)</li>
        <li>Isomatte</li>
        <li>Schlafsack</li>
        <li>Taschenlampe bzw. Stirnlampe</li>
        <li>Trinkflaschen (jeder braucht mind. 2 Liter)</li>
        <li>Teller</li>
        <li>Gabel und/oder Löffel</li>
        <li>Geschirrhandtuch</li>
        <li>Schlafanzug</li>
        <li>Sitzunterlage oder Tüte</li>
    </ul>

    <h2>Am Körper</h2>
    <ul>
        <li>Halstuch (Kluft ist freiwillig, Halstuch Pflicht)</li>
        <li>1x Paar Ersatzsocken</li>
        <li>Lange Hose (Wanderhose)</li>
        <li>1x Wechselshirt</li>
        <li>T-shirt</li>
        <li>Regenjacke</li>
        <li>Jacke/Pulli für abends (mit Kapuze)</li>
        <li>Wanderschuhe bzw. feste Schuhe (bitte keine neuen, nur eingelaufen und keine Alltagssneaker!)</li>
        <li>Kopfbedeckung</li>
        <li>Fahrtenmesser</li>
    </ul>

    <h2>Wichtig</h2>
    <ul>
        <li>Gesundheitskarte</li>
        <li>Ggf. Medikamente</li>
        <li>Erste Hilfeset</li>
        <li>Geld</li>
        <li>Anmeldeabschnitte eingesammelt</li>
    </ul>

    <h2>Gemeinsames Material</h2>
    <ul>
        <li><a href="essens-planung">Essen</a></li>
        <li>Trangia 2-3personen/Trangia</li>
        <li>Brennstoff</li>
        <li>Tarp</li>
    </ul>

    <div class="advice">
        <h2>Ratschläge zum Packen:</h2>
        <ul>
            <li>Alles, was während des Laufens nicht benötigt wird sollte im oder fest am Rucksack befestigt werden.
            </li>
            <li>Alles, was zusätzlich mitgenommen wird, ist auch zusätzliches Gewicht, was sich in jedem gelaufenen
                Kilometer bemerkbar macht.</li>
            <li>Es werden keine elektronischen Geräte benötigt. Jeder Teamleiter sollte aber ein Handy dabei haben,
                worüber
                im Notfall kommuniziert werden kann. Die Kinder sollten deshalb keine Handys mitnehmen.</li>
            <li>Da wir uns das Wetter nicht vorher raussuchen können, ist es wichtig, dass alles regenfest ist, sowohl
                Kleidung und Schuhe als auch das Material. Wer kein Regencover für den Rucksack hat, sollte alles in
                Tüten
                oder Drybags packen, damit das Material im Rucksack nicht nass wird.</li>
            <li>Da wir nicht nur auf ebenen Wegen unterwegs sein werden, ist es wichtig, dass die Kinder feste Schuhe
                (am
                besten Wanderschuhe) tragen. Auch die bequemsten Sneaker können nach wenigen Kilometern Blasen
                verursachen
                und halten den Fuß nicht stabil genug.</li>
            <li>Die Faustregel für das Gesamtgewicht des gepackten Rucksacks ist: max. 20-25% des eigenen
                Körpergewichts. Es
                sollte am Start eine Kofferwaage dabei sein und um das Gepäck der Kinder abzuwiegen.</li>
            <li>Uns ist der Spaß und die Gemeinschaft am wichtigsten. Keiner soll zuhause bleiben müssen, weil Material
                nicht vorhanden ist oder weil man glaubt, dass man den schweren Rucksack nicht tragen könnte. Wir haben
                viele Leiter mit viel Erfahrung, wir unterstützen dich, wo es nötig ist.</li>
        </ul>
    </div>
</div>