<div>
    <h1>Die Planung</h1>
    <h2>Der Haijk-Rahmen</h2>
    <p>Im Rahmen des Haijks gibt es relativ starre und vorgegebene Rahmenbedingungen. Auch Spontanität und flexibles
        Bewegen sind wichtig.</p>

    <h3>Art</h3>
    <p>Was für eine Art Haijk ist es? (Rundhaijk, Haijk mit Rückkehr, Fahrradtour, Kanuhaijk, ...)?</p>

    <h3>Zeitrahmen</h3>
    <p>Wann beginnt und endet der Haijk? Uhrzeit, Datum, Tageszeit?</p>

    <h3>Streckenplanung</h3>
    <ul>
        <li>Wo findet der Haijk statt? (Geschäftszentrum, Umkreis der Stadt, ...)?</li>
        <li>Welche Routen sind möglich?</li>
        <li>Welche Grundsatzregeln gibt es zur Nutzung der Kompass?</li>
    </ul>



    <h3>Teilnehmer</h3>
    <p>Wer geht mit? Ist die Anmeldung freiwillig oder verpflichtend? (über 18 Jahre)?</p>

    <h3>Bei Haijks mit mehreren Teams</h3>
    <p>Wo und wann treffen sich die Teams wieder?</p>

    <h3>Besonderheiten</h3>
    <p>Was sind die gesundheitlichen Voraussetzungen (Medikamente)?</p>

    <h3>Aus-/Ein-/Ablaufanleitungen</h3>
    <p>Gibt es spezielle Regelungen?</p>

    <h3>Thema</h3>
    <p>Mit welchem geistlichen Thema (Bibel, Bibeltexte) beschäftigt sich der Haijk? Besondere biblische oder geistliche
        Persönlichkeiten?</p>

    <h3>Verpflegung</h3>
S    <ul>
        <li>Wie ist die Verpflegung organisiert?</li>
        <li>Wer kauft ein?</li>
        <li>Wie viel ist schon gepackt?</li>
    </ul>

    <h3>Sonderprogramm</h3>
    <p>Gibt es spezielle Programmpunkte wie gemeinsames Kochen, ein kleines Lagerfeuer?</p>

    <h3>Trinkwasser</h3>
    <p>Wie viel Wasser muss getragen werden? Sind Wasserquellen unterwegs vorhanden? Gibt es Wasservorräte (Kanister,
        ...)?</p>

    <h3>Kosten</h3>
    <p>Wie viel kostet der Haijk?</p>

    <h3>Notfallplan</h3>
    <p>Hat jemand ein Handy dabei? Hat jemand die Notfallnummern dabei? Gibt es einen Abholservice? Gibt es Treffpunkte
        im Notfall?</p>
</div>