<div  fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row" fxLayoutAlign="center center" class="header">
    <a href="/übersicht"><img class="header-img" src="https://www.svgrepo.com/show/449167/overview.svg"></a>
    <a href="/material"><img class="header-img" src="https://www.svgrepo.com/show/532905/backpack-alt.svg"></a>
    <a href="/essens-planung"><img class="header-img" src="https://www.svgrepo.com/show/490737/food-dish.svg"></a>
    <a href="/motivation"><img class="header-img" src="https://www.svgrepo.com/show/533734/question.svg"></a>
    <a href="/anmeldung-packliste"><img class="header-img" src="https://www.svgrepo.com/show/507877/user-check.svg"></a>
    <a href="/routen-planung"><img class="header-img" src="https://www.svgrepo.com/show/532550/map-location-pin.svg"></a>
  </div>
  <router-outlet fxLayoutAlign="center center" style="margin-top: 70px"></router-outlet>
</div>